$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-play: "\e908";
$icon-localizacao4: "\e912";
$icon-localizacao3: "\e909";
$icon-360: "\e90a";
$icon-localizacao1: "\e90b";
$icon-localizacao2: "\e90c";
$icon-pin: "\e90d";
$icon-chat1: "\e90e";
$icon-check: "\e911";
$icon-search: "\e910";
$icon-whatsapp: "\ea5e";
$icon-arrow-down: "\e90f";
$icon-tel: "\e900";
$icon-chat: "\e901";
$icon-mail: "\e906";
$icon-camera: "\e902";
$icon-down: "\e903";
$icon-prev: "\e905";
$icon-next: "\e904";
$icon-close: "\e907";

