$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-prev: "\e908";
$icon-next: "\e909";
$icon-seta01: "\e90a";
$icon-chat: "\e900";
$icon-concierge: "\e901";
$icon-coworking: "\e902";
$icon-mail: "\e903";
$icon-fitness: "\e904";
$icon-lavanderia: "\e905";
$icon-lupa: "\e906";
$icon-mensagem: "\e907";

