.barra-conversao {
    position: fixed;
    z-index: 9;
    display: flex;

    @include media-breakpoint-down(lg) {
        bottom: 0;
        right: 0;
        width: 100%;
        background: #E33237;
        justify-content: space-around;
        height: 66px;
        border-radius: 10px 10px 0 0;
    }

    @include media-breakpoint-up(lg) {
        flex-flow: column;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    &-btn {
        --btn-bg: #{$primary};
        --btn-color: #fff;

        position: relative;
        padding: 0;
        border: none;
        margin: 0 5px 0 0;

        @include media-breakpoint-up(lg) {
            margin: 5px 0;
        }

        i {
            position: relative;
            z-index: 2;
            display: grid;
            align-items: center;
            justify-content: center;
            width: 56px;
            height: 56px;
            font-size: 23px;
            background: #E33237;
            color: var(--btn-color);

            @include media-breakpoint-down(md) {
                width: 130px;
            }
        }

        .label-chat {
            font-size: 13px;
            margin-top: -12px;
            font-family: 'futura-pt';

            @include media-breakpoint-down(md) {
                display: none;
            }

        }

        .span-icon {
            @include media-breakpoint-down (md) {
                font-size: 13px;
                margin-top: -12px;
                font-family: 'futura-pt';
            }
            
            @include media-breakpoint-up(lg) {
                display: none;
            }
        }

        i:hover {
            label {
                display: none;
            }
        }


        span {
            position: absolute;
            top: 0;
            right: calc(100% - 1px);
            display: flex;
            align-items: center;
            padding: 0 30px;
            white-space: nowrap;
            height: 100%;
            background: #E33237;
            opacity: 0;
            visibility: hidden;
            transition: all .3s ease-in-out;
            transform: translate(10px);

            // @include media-breakpoint-down(lg){
            //     display: none;
            // }
        }

        &:hover {
            color: var(--btn-color);

            span {
                transform: none;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}