.destaques{
    padding: 70px 0 0;
    position: relative;
    color: #fff;

    .container{
        display: flex;
        // align-items: flex-start;
        // justify-content: center;
        // flex-flow: column;
        // gap: 20px;
        // position: relative;
        // z-index: 2;
        // height: 100%;
    }
}