.footer{
    padding: 30px 0 100px;

    @include media-breakpoint-up(lg){
        padding: 40px 0;
    }

    &-empresas {
        text-align: center;
        justify-content: space-evenly;
        align-items: baseline;
        margin-top: 25px;

        @include media-breakpoint-up(lg) {
            display: flex;
        }

        .empresas-info {
            h1 {
                font-size: 12px;
                line-height: 15.38px;
                color: #1b3241;
                margin-top: 45px;
                margin-bottom: 23px;
                text-align: center;
            }
        }
    }

    &-texto{
        font-size: 14px;
        margin-bottom: 30px;
        margin-top: 56px;

        p {
            text-align: center;
            font-size: 12px;
            line-height: 15.38px;
        }        
    }

    .logo-abyara {
        margin-right: 25px;
    }

    &-logoid360{
        text-align: center;
    }
}