.intro{
    padding: 0;

    &-content{
        @include media-breakpoint-up(lg){
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &-infos{

        @include media-breakpoint-up(lg){
            width: calc(50% + 100px);
            border-right: 10px solid #A25F34;
        }

        .logo-metragem{
            padding: 0 0 10px;
            .container{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                @include media-breakpoint-up(lg){
                    flex-direction: row;
                }
            }
            .logo{
                img{
                    width: 168px;
                    height: 161px;
                    object-fit: cover;

                    @include media-breakpoint-up(lg){
                        width: 212px;
                        height: 203px;
                        margin: 0 20px 0 0;
                    }
                }
            }

            p{
                font-size: 25px;
                letter-spacing: 1.25px;
                
                @include media-breakpoint-up(lg){
                    font-size: 30px;
                }
            }

        }

        .infos{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            height: 207px;
            border-top: 3px solid #A25F34;
            border-bottom: 3px solid #A25F34;

            @include media-breakpoint-up(lg){
                background: #282D39;
                border-top: 10px solid #A25F34;
                border-bottom: 10px solid #A25F34;
                height: 170px;
            }

            &::before{
                content: "";
                width: 100%;
                height: 100%;
                background: url(../images/intro-mobile.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                top: 0;
                left: 0;

                @include media-breakpoint-up(lg){
                    display: none;
                }
            }

            &::after{
                content: "";
                width: 100%;
                height: 100%;
                background: #282D39;
                opacity: 0.87;
                position: absolute;
                top: 0;
                left: 0;

                @include media-breakpoint-up(lg){
                    display: none;
                }
            }

            .container{
                position: relative;
                z-index: 1;
                text-align: center;

                @include media-breakpoint-up(lg){
                    text-align: left;
                    max-width: 520px;
                }
            }

            p{
                font-size: 25px;
                letter-spacing: 1.25px;
                color: #fff;
                line-height: 1.1;

                @include media-breakpoint-up(lg){
                    font-size: 30px;
                }
            }

            span{
                color: #fff;
                font-size: 12px;
            }
        }

        .imagem{
            display: none;
            
            @include media-breakpoint-up(lg){
                display: initial;
                width: 100%;
                height: 266px;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &-contato{
        padding: 20px 0;

        @include media-breakpoint-up(lg){
            width: 50%;
        }

        .container{
            @include media-breakpoint-up(lg){
                max-width: 480px;
                padding: 0;
            }
        }

        h2{
            font-size: 20px;
            color: #1E3746;
            margin: 0 0 17px;
            line-height: 1;
            font-weight: bold;
        }

        .form{
            &-group{
                margin: 0 0 10px;
            }

            &-control, &-select{
                border-radius: 5px;
                border: 2px solid #282D39;
            }

            &-check{
                margin: 10px 0 15px;
                label{
                    font-size: 14px;
                    color: #4A5777;
                    
                    a{
                        color: #4A5777;
                        font-weight: bold;
                        text-decoration: underline;
                    }
                }
            }

            .btn-form{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 46px;
                background: #A25F34;
                color: #fff;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 15px;
                letter-spacing: 0.3px;
                border-radius: 10px;
            }
        }
    }
}