.intro{
    padding: 70px 0 0;
    position: relative;
    // height: 80vh;
    color: #fff;

    &-logo {
        position: absolute;
        z-index: 3;
        top: 0;
        right: 105px;

        img {
            width: 170px;
            height: 194px;
        }

        @include media-breakpoint-up (lg) {
            top: -17px;
        }
    }

    .container{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-flow: column;
        gap: 20px;
        position: relative;
        z-index: 2;
        height: 100%;
    }

    &-tit {
        border-bottom: 1px solid #A56135;
    }

    h1 {
        font-weight: 400;
        font-size: 48px;
        text-transform: uppercase;
        color: #A56135;
        line-height: 62px;
        font-style: normal;

        @include media-breakpoint-up (lg) {
            margin-top: -12px;
            margin-bottom: 12px;
        }
    }

    &-img{
        display: flex;
        margin-top: -21px;

        .img-info {
            height: 177px;
        }

        .text1, .text2 {
            color: #A56135;
        }

        .text1 {
            font-size: 26px;
            font-weight: 700; 
            margin-top: 92px;        
        }

        .text2 {
            font-size: 12px;
            font-weight: 400;
        }

        picture{
            display: block;
            height: 100%;
        }

        img{
            // object-fit: cover;
            width: 570px;
            height: 427px;
        }

    }

    &-parceria {
        display: flex;
    }
}