.intro {
    padding: 70px 0 0;
    position: relative;
    // height: 80vh;
    background: #ffece0;

    &-logo {
        position: absolute;
        z-index: 3;
        top: 0;
        right: 30px;

        img {
            width: 135px;
            height: 150px;

            @include media-breakpoint-up (lg) {
                width: 170px;
                height: 194px;
            }
        }

        @include media-breakpoint-up (lg) {
            top: 7px;
            right: 105px;
        }

        // @include media-breakpoint-down (md) {
        //     display: none;
        // }
    }

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-flow: column;
        gap: 20px;
        position: relative;
        z-index: 2;
        height: 100%;

        &::before {
            content: "";
            background-image: url("../images/onze-vetor.svg");
            position: absolute;
            right: -92px;
            bottom: -11px;
            width: 735px;
            height: 200px;
            z-index: -1;

            @include media-breakpoint-down(lg) {
                bottom: -43px;
            }
        }

        span {
            &::before {
                content: "";
                background-image: url("../images/line-onze.svg");
                position: absolute;
                right: -375px;
                top: 372px;
                width: 769px;
                height: 1px;
                z-index: -1;
            }
        }
    }

    &-tit {
        @include media-breakpoint-down(lg) {
            margin-top: 25px;
        }
    }

    h1 {
        font-weight: 400;
        font-size: 32px;
        text-transform: uppercase;
        color: #A56135;
        line-height: 45px;
        font-style: normal;

        @include media-breakpoint-up (lg) {
            margin-top: 22px;
            margin-bottom: 12px;
            font-size: 48px;
            line-height: 62px;
        }
    }

    &-img {
        @include media-breakpoint-down (md) {
            display: flex;
            flex-direction: column-reverse;
        }

        @include media-breakpoint-up (lg) {
            display: flex;
            margin-top: -21px;
            margin-left: -430px;
        }

        .img-info {
            border-top: none;
            border-bottom: none;

            @include media-breakpoint-up (lg) {
                height: 177px;
                width: 809px;
                border-top: 1px solid #A56135;
                border-bottom: 1px solid #A56135;
            }
        }

        .text1,
        .text2 {
            color: #A56135;
        }

        .text1 {
            font-size: 30px;
            font-weight: 700;
            margin-top: 26px;

            @include media-breakpoint-up (lg) {
                text-align: right;
                margin-right: 110px;
                font-size: 26px;
                margin-top: 92px;
            }
        }

        .text2 {
            font-size: 12px;
            font-weight: 400;

            @include media-breakpoint-up (lg) {
                text-align: right;
                margin-right: 255px;
            }
        }

        picture {
            display: block;
            height: 100%;
        }

        img {
            width: 337px;
            height: 206px;

            @include media-breakpoint-up (lg) {
                width: 570px;
                height: 427px;
            }
        }

        label {
            color: #1B3241;
            font-size: 12px;
            font-weight: 400;
            display: inherit;
            text-align: end;
        }

    }

    .btn-know {
        @include media-breakpoint-down (md) {
            width: 100%;
        }

        @include media-breakpoint-up (lg) {
            position: absolute;
            top: 310px;
        }
    }

    .btn-know:hover {
        border: 1px solid #1B3241;
        color: #1B3241;

        .icon-next {
            transform: rotate(90deg);
            transition: all 0.3s ease-in-out;
        }
    }

    .icon-next {
        @include media-breakpoint-down (md) {
            font-size: 16px;
        }
    }

    // .icon-next:hover {
    //     transform: rotate(90deg);
    // }

    &-parceria {
        @include media-breakpoint-down (md) {
            width: 100%;
            margin-bottom: 134px;
        }

        @include media-breakpoint-up (lg) {
            position: absolute;
            top: 453px;
        }
    }

    .parceria {
        display: flex;

        p {
            color: #000;
            margin-right: 5px;
        }
    }

    .parceria-1 {
        justify-content: end;

        @include media-breakpoint-up (lg) {
            margin-bottom: 35px;
            gap: 13px;
            justify-content: inherit;
        }
    }

    .parceria-2 {
        justify-content: end;
        margin-top: 30px;

        @include media-breakpoint-up (lg) {
            gap: 13px;
            justify-content: inherit;
            margin-top: 0;
        }
    }
}