.lazer {
    background: #1b3241;

    .container {
        @include media-breakpoint-up (lg) {
            display: flex;
        }
    }

    &-content {
        margin-top: 24px;

        @include media-breakpoint-up (lg) {
            margin-top: 48px;
        }

        a {
            background: #fff;
            color: #1b3241;
            gap: 115px;
        }

        .icon-chat {
            font-size: 27px;
        }
    }

    &-info {
        width: 370px;

        h1 {
            font-size: 30px;
            font-weight: 300;
            line-height: 41px;
            color: #fff;
            text-transform: uppercase;

            @include media-breakpoint-up (lg) {
                font-size: 32px;
            }

        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 44px;
            color: #fff;

            @include media-breakpoint-up (lg) {
                line-height: 23px;
            }
        }
    }

    &-oferece {
        margin: 48px 0 56px;

        @include media-breakpoint-down (md) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 1px 0 5px;
        }

        .icone {
            display: flex;
            gap: 16px;
            align-items: center;
            margin-top: 24px;
        }

        i {
            font-size: 50px;
            border: 1px solid #fff;
            color: #fff;
        }

        p {
            color: #fff;
        }
    }

    &-galeria {
        max-width: 770px;

        .splide {
            --nav-margin: 415px;
            --nav-bg: transparent;
            --nav-color: #fff;
            --pag-bg: #fff;
        }
    }

    .btn {
        position: relative;
        top: 44px;
        margin-bottom: 48px;
        width: 100%;
        background: #fff;
        color: #1b3241;
        gap: 100px;

        @include media-breakpoint-up (lg) {
            position: absolute;
            top: 2778px;
            left: 106px;
            gap: 100px;
            margin-bottom: 0;
            width: auto;
        }
    }

    .btn:hover {
        border: 1px solid #fff;
        color: #fff;
        background: none;
        gap: 100px;
    }

    .icon-chat {
        font-size: 27px;
    }

    img {
        height: auto;
        width: 100%;
        position: relative;
        bottom: -30px;
    }
}