.localizacao{

    &-mapa{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 637px;
        background: #d68d59;
        overflow-x: scroll;
        position: relative;
        @include media-breakpoint-up(lg){
            height: 505px;
            overflow-x: inherit;
        }
        .mob{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 259px;
            height: 36px;
            background: #243441;
            position: absolute;
            left: 20px;
            top: 20px;
            z-index: 1;
            color: #fff;
            font-weight: 300;
            .icon-arrow-down{
                margin-left: 10px;
                transform: rotate(90deg);
            }
            @include media-breakpoint-up(lg){
                display: none;
            }
        }
        .desk{
            display: none;
            align-items: center;
            justify-content: center;
            width: 348px;
            height: 36px;
            background: #243441;
            position: absolute;
            left: 50%;
            margin-left: -365px;
            bottom: 20px;
            z-index: 1;
            color: #fff;
            font-weight: 300;
            .icon-search{
                margin-left: 10px;
            }
            @include media-breakpoint-up(lg){
                display: flex;
            }
        }
        img{
            width: auto;
            max-width: inherit;
            height: 637px;
            position: relative;
            left: 654px;
            @include media-breakpoint-up(lg){
                max-width: 100%;
                width: 100%;
                height: 100%;
                object-fit: contain;
                left: 0;
            }
        }
    }
}