.localizacao {
    // padding: 70px 0;
    background: #ffece0;

    .container {
        margin-top: 44px;
    }

    &-info {
        @include media-breakpoint-down(md) {
            margin-bottom: 24px;
        }

        h1 {
            font-size: 30px;
            font-weight: 400;
            line-height: 41px;
            color: #a56135;

            @include media-breakpoint-up(lg) {
                font-size: 30px;
            }
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 23.08px;
            color: #a56135;
            margin-top: 24px;
        }
    }

    &-mapa {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 637px;
        background: #d68d59;
        overflow-x: scroll;
        position: relative;

        @include media-breakpoint-up(lg) {
            height: 505px;
            overflow-x: inherit;
            margin-top: 24px;
        }

        .mob {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 259px;
            height: 36px;
            background: #243441;
            position: absolute;
            left: 20px;
            top: 20px;
            z-index: 1;
            color: #fff;
            font-weight: 300;

            .icon-arrow-down {
                margin-left: 10px;
                transform: rotate(90deg);
            }

            @include media-breakpoint-up(lg) {
                display: none;
            }
        }

        .desk {
            display: none;
            align-items: center;
            justify-content: center;
            width: 348px;
            height: 36px;
            background: #a56135;
            position: absolute;
            left: 50%;
            margin-left: -365px;
            bottom: 20px;
            z-index: 1;
            color: #fff;
            font-weight: 300;

            .icon-lupa {
                margin-left: 16px;
                font-size: 29px;
            }


            @include media-breakpoint-up(lg) {
                display: flex;
                align-items: center;
                justify-content: left;
                width: 100%;
                height: 70px;
                background: #a56135;
                position: absolute;
                left: 0%;
                margin-left: 0;
                bottom: -62px;
                z-index: 1;
                color: #fff;
                font-weight: 300;

                p {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 23px;
                    margin-left: 97px;
                }

                img {
                    display: flex;
                    margin-left: 45px;
                }

            }
        }

        img {
            width: auto;
            max-width: inherit;
            height: 637px;
            position: relative;
            left: 654px;

            @include media-breakpoint-up(lg) {
                max-width: 100%;
                width: 100%;
                height: 100%;
                object-fit: contain;
                left: 0;
            }
        }
    }

    .carrosel {
        margin-top: 122px;
    }

    &-regiao {
        margin: 0 -20px 0 0;

        @include media-breakpoint-up(lg) {
            margin: 0;
        }

        .splide {
            &__list {
                @include media-breakpoint-up(lg) {
                    display: flex;
                    gap: 30px;
                }
            }

            &__slide {
                .item {
                    width: 270px;

                    @include media-breakpoint-up(lg) {
                        width: 270px;
                    } 

                    figure {
                        width: 100%;
                    }

                    img {
                        width: 100%;
                        height: 250px;
                        object-fit: cover;
                    }
                }
            }
        }

        .regiao-info {
            background: #fff;
        }

        img {
            width: 270px;
            height: 200px;
        }

        .detalhe {
            width: 30px !important;
            height: 30px !important;
            position: relative;
            bottom: 16px;
            left: 224px;
        }

        figcaption {
            height: 133px;

            p {
                margin: 26px 42px 69px 24px;
                font-size: 18px;
                font-weight: 500;
                line-height: 31.08px;
                color: #a56135;
            }

            .escola {
                margin: 26px 29px 69px 24px;
            }
        }       


        .btn-content{
            margin: 40px 0 0 ;
            
            @include media-breakpoint-up(lg) {
                display: flex;
                justify-content: center;           
            }
            
            a.btn {
                width: calc(100% - 20px);
                color: #fff;
                background: #1b3241;
                
                @include media-breakpoint-up(lg) {
                    max-width: 270px;            
                }
            }
        }
    }


    a:hover {
        border: 1px solid #1b3241;
        background: none;
        gap: 100px;
        color: #1b3241;
    }

    .icon-chat {
        font-size: 27px;
    }
}