.modal-contato {
    --bg-contato: #fff;
    --msg-load-color-1: #00000033;
    --msg-load-color-2: #00000080;
    --msg-btn-bg: #000;
    --msg-btn-color: #fff;

    background: var(--bg-contato);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease-in-out;

    &.active {
        opacity: 1;
        visibility: visible;
        z-index: 11;
    }

    &-scroll {
        padding: 20px 0;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    .container {
        position: relative;

        @include media-breakpoint-up(lg) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 100%;
            max-width: 960px;
        }
    }

    &-tit {
        display: flex;
        align-items: center;
        flex-flow: column;
        margin-bottom: 20px;
        position: absolute;
        top: 90px;
        left: -95px;
        font-size: 32px;
        font-weight: 400;
        text-transform: uppercase;
        color: #a56135;

        span {
            font-size: 18px;
        }

    }

    .linha1 {
        position: absolute;
        left: -235px;
        top: 30px;
        width: 568px;
        border: 1px solid #a56135;
        opacity: inherit;
    }

    .linha2 {
        position: absolute;
        left: -235px;
        bottom: 444px;
        width: 568px;
        border: 1px solid #a56135;
        opacity: inherit;
    }

    .linha3 {
        position: absolute;
        left: -235px;
        bottom: 272px;
        width: 568px;
        border: 1px solid #a56135;
        opacity: inherit;
        z-index: -1;
    }

    img {
        width: 170px;
        height: auto;
        margin-bottom: 20px;
        position: absolute;
        top: 190px;
        left: -95px;
    }

    &::before {
        content: "";
        background-image: url("../images/onze-vetor.svg");
        position: absolute;
        left: -90px;
        bottom: 0;
        width: 735px;
        height: 200px;
        opacity: inherit;

        @include media-breakpoint-down(lg) {
            bottom: -43px;
        }
    }

    .form {
        @include media-breakpoint-up(lg) {
            width: 520px;
        }
    }

    .btn-fechar {
        width: 56px;
        height: 56px;
        background: none;
        position: absolute;
        right: 10px;
        top: 10px;
        border: 1px solid #404040;
        color: #fff;
        font-size: 12px;
        color: #000;
        transition: all .2s ease-in-out;

        &:hover {
            @include media-breakpoint-up(lg) {
                background: none;
                color: #404040;
            }
        }
    }
}