.sobre {
    padding: 70px 0 0;
    position: relative;
    color: #fff;

    h1,
    p {
        color: #A56135;
    }

    &-logos {
        display: inline-flex;
    }

    &-image {

        @include media-breakpoint-up (lg) {
            margin: -210px 0;
        }

        img {
            @include media-breakpoint-down (md) {
                width: 100%;
                height: 195px;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        figcaption {
            @include media-breakpoint-down (md) {
                position: relative;
                top: 125px;
            }

            @include media-breakpoint-up (lg) {
                width: 1170px;
            }
        }

        p {
            font-size: 12px;
            font-weight: 400;
            color: #000;
            text-align: end;
            margin: 3px 0;
            line-height: 15px;
        }
    }

    &-infos {
        margin: 175px 0 56px;

        @include media-breakpoint-up (lg) {
            margin: 277px 0 56px;
        }

        h1 {
            font-size: 30px;
            font-weight: 400;
            line-height: 41px;
            text-transform: uppercase;
            margin-bottom: 24px;

            @include media-breakpoint-up (lg) {
                font-size: 32px;
            }
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 23px;
        }
    }

    &-logos {
        display: block;
        text-align: center;
        margin-bottom: 29px;

        @include media-breakpoint-up (lg) {
            margin: 0 98px 90px;
            display: flex;
            gap: 130px;
            justify-content: center;
            align-items: baseline;
        }

        .design .mestisso, .cardim {

            @include media-breakpoint-down (md) {
            margin-top: 56px;
            }
        }

        h1 {
            font-size: 14px;
            font-weight: 400;
            color: #1b3241;
            text-align: center;
            text-transform: uppercase;

        }

        .trie {
            margin-bottom: 24px;
        }

        .mestisso {
            margin-bottom: 39px;
        }

        .cardim {
            margin-bottom: 14px;
        }
    }
}