.sobre {
    padding: 70px 0 0;
    position: relative;
    color: #fff;

    h1,
    p {
        color: #A56135;
    }

    &-logos {
        display: inline-flex;
    }

    &-image {

        @include media-breakpoint-up (lg) {
            margin: -210px 0;
        }

        figcaption {
            @include media-breakpoint-up (lg) {
                width: 1170px;
            }
        }

        p {
            font-size: 12px;
            font-weight: 400;
            color: #000;
            text-align: end;
            margin: 3px 0;
            line-height: 15px;
        }
    }

    &-infos {
        margin: 277px 0 56px;

        h1 {
            font-size: 32px;
            font-weight: 400;
            line-height: 41px;
            text-transform: uppercase;
            margin-bottom: 24px;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 23px;
        }
    }

    &-logos {
        margin: 0 98px 90px;
        display: flex;
        gap: 130px;
        justify-content: center;
        align-items: baseline;

        h1 {
            font-size: 14px;
            font-weight: 400;
            color: #1b3241;
            text-align: center;
            text-transform: uppercase;

        }

        .trie {
            margin-bottom: 24px;
        }

        .mestisso {
            margin-bottom: 39px;
        }

        .cardim {
            margin-bottom: 14px;
        }
    }
}