<section class="contato">
    <div class="container">
        <div class="contato-intro">
            <h1>Contato</h1>
            <p>Preencha o cadastro e receba mais informações sobre <br class="desk">
                as <span>unidades NR do Onze Vila Clementino.</span></p>
        </div>

        <%
        form_nome = 'formEmail';
        form_prefixo = 'FE';
        form_tipo = 'Email';
        form_canal = 'mensagem';
        form_btn = 'Enviar mensagem';
        %>

        <% include form %>

    </div>
    
    <img src="images/bg-textura.jpg" alt="">
</section>