<section class="destaques">
    
    <div class="container">
        <div class="destaques-images">
            <img src="images/destaques/seguranca.jpg" alt="">
            <img src="images/destaques/solidez.jpg" alt="">
            <img src="images/destaques/rentabilidade.jpg" alt="">
            <img src="images/destaques/praticidade.jpg" alt="">
        </div>

    </div>   

</section>