<section class="destaques" id="destaques">
    
    <div class="container">
        <div class="destaques-images">
            <figure>
                <img src="images/destaques/seguranca.jpg" alt="">
                <figcaption>
                    <p>Segurança</p>
                </figcaption>
                <hr>
            </figure>
            <figure>
                <img src="images/destaques/solidez.jpg" alt="">
                <figcaption>
                    <p>Solidez</p>
                </figcaption>
                <hr>
            </figure>
            <figure>
                <img src="images/destaques/rentabilidade.jpg" alt="">
                <figcaption>
                    <p>Rentabilidade</p>
                </figcaption>
                <hr>
            </figure>
            <figure>
                <img src="images/destaques/praticidade.jpg" alt="">
                <figcaption>
                    <p>E Muita Praticidade</p>
                </figcaption>
                <hr class="praticidade">
            </figure>
        </div>

    </div>   

</section>