<section class="destaques" id="destaques">
    
    <div class="container">
        <div class="destaques-images">
            <div class="splide">
                <div class="splide__track">
                    <div class="splide__list">
                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <figure>
                                    <img src="images/destaques/seguranca.jpg" alt="">
                                    <figcaption>
                                        <p>Segurança</p>
                                    </figcaption>
                                    <hr>
                                </figure>
                            </div>
                        </div>
                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <figure>
                                    <img src="images/destaques/solidez.jpg" alt="">
                                    <figcaption>
                                        <p>Solidez</p>
                                    </figcaption>
                                    <hr>
                                </figure>
                            </div>
                        </div>
                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <figure>
                                    <img src="images/destaques/rentabilidade.jpg" alt="">
                                    <figcaption>
                                        <p>Rentabilidade</p>
                                    </figcaption>
                                    <hr>
                                </figure>
                            </div>
                        </div>
                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <figure>
                                    <img src="images/destaques/praticidade.jpg" alt="">
                                    <figcaption>
                                        <p>E Muita Praticidade</p>
                                    </figcaption>
                                    <hr class="praticidade">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
        

    </div>   

</section>