<footer class="footer">
    <div class="container">
        <div class="footer-texto">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, at consequuntur aspernatur rerum eligendi doloribus cupiditate ad porro quos temporibus hic maiores facilis impedit omnis error recusandae, quibusdam, voluptas itaque.</p>
        </div>

        <div class="footer-logoid360">
            <a href="http://www.id360.com.br/?utm_source=site_clientes&utm_campaign=<%=utm%>&utm_medium=logo_rodape" target="_blank">
                <img src="images/logo-id360.svg" width="70px" height="23px" alt="ID360 New Media">
            </a>
        </div>
    </div>
</footer>