<footer class="footer">
    <div class="container">
        <div class="footer-texto">
            <p>Incorporação registrada sob R.1 na matrícula 236.919, junto ao 14º Oficial de Registro de Imóveis de São Paulo em 04 de novembro de 2021. O detalhamento dos serviços, equipamentos e acabamentos que farão parte deste empreendimento constará no memorial descritivo. As imagens constantes deste material são meramente ilustrativas e não representam fotografias exatas do empreendimento.</p>
        </div>

        <div class="footer-logoid360">
            <a href="http://www.id360.com.br/?utm_source=site_clientes&utm_campaign=<%=utm%>&utm_medium=logo_rodape" target="_blank">
                <img src="images/logo-id360.svg" width="70px" height="23px" alt="ID360 New Media">
            </a>
        </div>
    </div>
</footer>