<header class="header">
    <div class="container">

        <div class="menu">
            <nav>

                <ul>
                    <li><a class="menu-link" href="#localizacao">Localização</a></li>
                    <li><a class="menu-link" href="#areas-comuns">Áreas comuns</a></li>
                    <li><a class="menu-link" href="#apartamento">Apartamento</a></li>
                    <li><a class="menu-link" href="#plantas">Plantas</a></li>
                    <li><a class="menu-link" href="#realizacao">Realização</a></li>
                    <li><a class="menu-destaque js-open-modal" data-modal-target="email" href="#"><span>Contato</span> <i class="icon-chat"></i></a></li>
                </ul>
            </nav>
        </div>

        <!-- <div class="header-logo">
            <img src="images/logo-onze.png" alt="<%=nome%>" width="100">
        </div> -->
    </div>

    <button class="btn-menu js-menu-toggle">
        <span class="btn-menu-icon"><span></span></span>
    </button>
</header>