<header class="header">
    <div class="container">

        <div class="menu-toggle js-menu-toggle">
            <div class="one"></div>
            <div class="two"></div>
            <label class="menu-label" for="menu">menu</label>
        </div>

        <div class="menu">
            <div class="menu-toggle js-menu-toggle">
                <div class="one"></div>
                <div class="two"></div>
                <label class="menu-label" for="menu">recolher menu</label>
            </div>

            <nav>
                <ul>
                    <li><a class="menu-link" href="#destaques"> Projeto </a></li>
                    <li><a class="menu-link" href="#localizacao"> Localização</a></li>
                    <li><a class="menu-link" href="#parceiros"> NOMAH</a></li>
                    <li><a class="menu-link" href="#realizacao"> Realização</a></li>
                    <li><a class="menu-destaque js-open-modal" data-modal-target="email" href="#"><span>Contato</span> <i class="icon-chat"></i></a></li>
                </ul>
            </nav>
            <div class="img-onze">
                <figure>
                    <img src="../images/onze-vetor.svg" alt="">
                </figure>
            </div>
        </div>
    </div>
</header>