<section class="intro">
    <div class="container">
        <h1 class="intro-tit">Lorem ipsum dolor</h1>
        <p>Suspendisse efficitur elit in congue porta. Nullam id mi id ex.</p>
        <a href="#localizacao" class="btn btn-primary">Saiba mais</a>
    </div>

    <div class="intro-img">
        <picture>
            <source media="(max-width: 480px)" srcset="images/banner-mob.jpg">
            <img src="images/banner.jpg" alt="Fachada" class="js-parallax" data-speed="2">
        </picture>
    </div>
</section>