<section class="intro">

    <div class="intro-logo">
        <img src="images/logo-onze.png" alt="<%=nome%>" width="100">
    </div>

    <div class="container">
        <h1 class="intro-tit">Invista no coração da Vila Clementino</h1>
        <div class="intro-img">
            <picture>
                <source media="(max-width: 480px)" srcset="images/banner-novo.jpg">
                <img src="images/banner-novo.jpg" alt="Fachada">
            </picture>
        </div>

        <p>Studios* de 22m² a 48m²</p>
        <p>*Studios não residenciais</p>
        <a href="#" class="btn">Conheça <i class="icon-seta01"></i></a>

        <div class="intro-parceria">
            <p>Um projeto</p> <img src="images/logo-ryazbek-preto.png" alt="">
        </div>
        <div class="intro-parceria">
            <p>Em parcería com</p> <img src="images/logo-nomah-intro.png" alt="">
        </div>

    </div>   

</section>