<section class="intro">

    <div class="intro-logo">
        <img src="images/logo-onze.png" alt="<%=nome%>" width="100">
    </div>

    <div class="container">
        <div class="intro-tit">
            <h1>Invista no <br class="mob"> coração da <br class="mob"> Vila Clementino</h1>
        </div>

        <div class="intro-img">

            <div class="img-info">
                <p class="text1">Studios* de 22m² a 48m²</p>
                <p class="text2">*Studios não residenciais</p>
            </div>
            
            <picture>
                <source media="(max-width: 480px)" srcset="images/banner-novo.jpg">
                <img src="images/banner-novo.jpg" alt="Imagem Intro">
                <label for="imagem intro">Concepção artística da unidade NR</label>
            </picture>
        </div>
        
        <a href="#" class="btn btn-know menu-destaque js-open-modal" data-modal-target="email" href="#">Conheça <i class="icon-next"></i></a>
        
        <div class="intro-parceria">

            <div class="parceria parceria-1">
                <p>Um projeto</p> <img src="images/logo-ryazbek-preto.png" alt="">
            </div>
            <div class="parceria parceria-2">
                <p>Em parcería com</p> <img src="images/logo-nomah-intro.png" alt="">
            </div>

        </div>

        <span></span>

    </div>   

</section>