<section class="lazer">
    <div class="container">
        <div class="lazer-info">
            <h1 class="tit">Áreas Comuns</h1>
            <p>Além de contar com serviços de limpeza e <br class="desk"> administração, o Onze Vila Clementino oferece:</p>
        </div>

        <div class="oferece">
            <div class="icone">
                <i class="icon-concierge"></i>
                <p>Concierge</p>
            </div>
            <div class="icone">
                <i class="icon-coworking"></i>
                <p>Coworking</p>
            </div>
            <div class="icone">
                <i class="icon-lavanderia"></i>
                <p>Lavandería</p>
            </div>
            <div class="icone">
                <i class="icon-fitness"></i>
                <p>Fitness Center</p>
            </div>
        </div>

        <a href="#" class="btn">Saiba masi <i class="icon-chat"></i></a>

    </div>

    <% index_galeria = 1 %> 
    <% include galeria %>

    <img src="images/bg-textura.jpg" alt="">
    
</section>