<section class="lazer">
    <div class="container">
        <div class="lazer-content">

            <div class="lazer-info">
                <h1 class="tit">Áreas Comuns</h1>
                <hr class="hr-tit">
                <p>Além de contar com serviços de limpeza e <br class="desk"> administração, o Onze Vila Clementino oferece:</p>
            </div>
    
            <div class="lazer-oferece">
                <div class="icone">
                    <i class="icon-concierge"></i>
                    <p>Concierge</p>
                </div>
                <div class="icone">
                    <i class="icon-coworking"></i>
                    <p>Coworking</p>
                </div>
                <div class="icone">
                    <i class="icon-lavanderia"></i>
                    <p>Lavandería</p>
                </div>
                <div class="icone">
                    <i class="icon-fitness"></i>
                    <p>Fitness Center</p>
                </div>
            </div>
    
            
        </div>
        
        <div class="lazer-galeria">            
            <% index_galeria = 1 %> 
            <% include galeria %>
        </div>
        
        <a href="#" class="btn menu-destaque js-open-modal" data-modal-target="email" href="#">Saiba mais <i class="icon-chat"></i></a>

        <hr class="hr-bottom">
    </div>
    
</section>