<section class="localizacao" id="localizacao">
    <div class="localizacao-info">
        <h1 class="tit">Vila Clementino</h1>
        <p>Localização estratégica, próximo ao Parque Ibirapuera, Av. Paulista e junto a enorme concentração
            médico-hospitalar na região. <br class="desk">
            Bairro com ampla infraestrutura de comércios e serviços, localizado estrategicamente entre a Vila Mariana e
            Moema.</p>
    </div>

    <div class="localizacao-mapa img-magnifier-container">
        <span class="mob">deslize o mapa para ver mais <span class="icon-arrow-down"></span></span>
        <img id="mag" src="images/mapa-regiao.jpg" class="img-fluid" alt="">
        <span class="desk">passe o mouse na imagem para ver detalhes <span class="icon-search"></span></span>
    </div>

    <div class="localizacao-regiao">
        <div class="regiao-info">
            <img src="images/localizacao/localizacao-1.jpg" alt="">
            <p>Av. Paulista; <br class="desk">
                Av. 23 de Maio; <br class="desk">
                Rua Domingos de Morais.
            </p>
        </div>
        <div class="regiao-info">
            <img src="images/localizacao/localizacao-2.jpg" alt="">
            <p>Parque Ibirapuera; <br class="desk">
                Parque das Bicicletas; <br class="desk">
                Shopping Santa Cruz; <br class="desk">
                Shopping Pátio Paulista.
            </p>
        </div>
        <div class="regiao-info">
            <img src="images/localizacao/localizacao-3.jpg" alt="">
            <p>Estação Santa Cruz; <br class="desk">
                Estação Vila Mariana.
            </p>
        </div>
        <div class="regiao-info">
            <img src="images/localizacao/localizacao-4.jpg" alt="">
            <p>Escola Paulista de Medicina; <br class="desk">
                Belas Artes; <br class="desk">
                ESPM.
            </p>
        </div>
    </div>

    <a href="#" class="btn">Invista já <i class="icon-chat"></i></a>
</section>