<section class="localizacao" id="localizacao">

    <div class="container">
        <div class="localizacao-info">
            <h1 class="tit">Vila Clementino</h1>
            <p>Localização estratégica, próximo ao Parque Ibirapuera, Av. Paulista e junto a enorme concentração
                médico-hospitalar na região. <br class="desk">
                Bairro com ampla infraestrutura de comércios e serviços, localizado estrategicamente entre a Vila Mariana e
                Moema.
            </p>
        </div>
    </div>

    <div class="localizacao-mapa img-magnifier-container">
        <span class="mob">deslize o mapa para ver mais <span class="icon-arrow-down"></span></span>
        <img id="mag" src="images/mapa-regiao.jpg" class="img-fluid" alt="">
        <span class="desk"><p>Passe o mouse na imagem para ver detalhes</p>  <span class="icon-lupa"></span> <span><img src="images/line-mapa.svg" alt=""></span></span>
    </div>

    <div class="localizacao-regiao">
        <figure class="regiao-info">
            <img src="images/localizacao/localizacao-1.jpg" alt="">
            <figcaption>
                <p>Av. Paulista; <br class="desk">
                    Av. 23 de Maio; <br class="desk">
                    Rua Domingos de Morais.
                </p>
            </figcaption>
            <img class="detalhe" src="images/detalhe-regiao.svg" alt="">
        </figure>
        <figure class="regiao-info">
            <img src="images/localizacao/localizacao-2.jpg" alt="">
            <figcaption>
                <p>Parque Ibirapuera; <br class="desk">
                    Parque das Bicicletas; <br class="desk">
                    Shopping Santa Cruz; <br class="desk">
                    Shopping Pátio Paulista.
                </p>
            </figcaption>
            <img class="detalhe" src="images/detalhe-regiao.svg" alt="">
        </figure>
        <figure class="regiao-info">
            <img src="images/localizacao/localizacao-3.jpg" alt="">
            <figcaption>
                <p>Estação Santa Cruz; <br class="desk">
                    Estação Vila Mariana.
                </p>
            </figcaption>
            <img class="detalhe" src="images/detalhe-regiao.svg" alt="">
        </figure>
        <figure class="regiao-info">
            <img src="images/localizacao/localizacao-4.jpg" alt="">
            <figcaption>
                <p class="escola">Escola Paulista de Medicina; <br class="desk">
                    Belas Artes; <br class="desk">
                    ESPM.
                </p>
            </figcaption>
            <img class="detalhe" src="images/detalhe-regiao.svg" alt="">
        </figure>
    </div>

    <a href="#" class="btn">Invista já <i class="icon-chat"></i></a>
</section>