<section class="localizacao" id="localizacao">

    <div class="container">
        <div class="localizacao-info">
            <h1 class="tit">Vila Clementino</h1>
            <p>Localização estratégica, próximo ao Parque Ibirapuera, Av. Paulista e junto a enorme concentração
                médico-hospitalar na região.
            </p>
            <p>
                Bairro com ampla infraestrutura de comércios e serviços, localizado estrategicamente entre a Vila Mariana e
                Moema.
            </p>
        </div>
    </div>

    <div class="localizacao-mapa img-magnifier-container">
        <span class="mob">deslize o mapa para ver mais <span class="icon-arrow-down"></span></span>
        <img id="mag" src="images/mapa-regiao.jpg" class="img-fluid" alt="">
        <span class="desk"><p>Passe o mouse na imagem para ver detalhes</p>  <span class="icon-lupa"></span> <span><img src="images/line-mapa.svg" alt=""></span></span>
    </div>

    <div class="container carrosel">
        <div class="localizacao-regiao">
            <div class="splide">
                <div class="splide__track">
                    <div class="splide__list">
                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <figure class="regiao-info">
                                    <img src="images/localizacao/localizacao-1.jpg" alt="">
                                    <figcaption>
                                        <p>Av. Paulista; <br class="desk"><br class="mob">
                                            Av. 23 de Maio; <br class="desk"><br class="mob">
                                            Rua Domingos de Morais.
                                        </p>
                                    </figcaption>
                                    <img class="detalhe" src="images/detalhe-regiao.svg" alt="">
                                </figure>
                            </div>
                        </div>
                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <figure class="regiao-info">
                                    <img src="images/localizacao/localizacao-2.jpg" alt="">
                                    <figcaption>
                                        <p>Parque Ibirapuera; <br class="desk"> <br class="mob">
                                            Parque das Bicicletas; <br class="desk"><br class="mob">
                                            Shopping Santa Cruz; <br class="desk"><br class="mob">
                                            Shopping Pátio Paulista.
                                        </p>
                                    </figcaption>
                                    <img class="detalhe" src="images/detalhe-regiao.svg" alt="">
                                </figure>
                            </div>
                        </div>
                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <figure class="regiao-info">
                                    <img src="images/localizacao/localizacao-3.jpg" alt="">
                                    <figcaption>
                                        <p>Estação Santa Cruz; <br class="desk"><br class="mob">
                                            Estação Vila Mariana.
                                        </p>
                                    </figcaption>
                                    <img class="detalhe" src="images/detalhe-regiao.svg" alt="">
                                </figure>
                            </div>
                        </div>
                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <figure class="regiao-info">
                                    <img src="images/localizacao/localizacao-4.jpg" alt="">
                                    <figcaption>
                                        <p class="escola">Escola Paulista de Medicina; <br class="desk"><br class="mob">
                                            Belas Artes; <br class="desk"><br class="mob">
                                            ESPM.
                                        </p>
                                    </figcaption>
                                    <img class="detalhe" src="images/detalhe-regiao.svg" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
    </div>
            
    <a href="#" class="btn menu-destaque js-open-modal" data-modal-target="email" href="#">Invista já <i class="icon-chat"></i></a>

</section>