<section class="localizacao" id="localizacao">
    <div class="container">
        <h1 class="tit">Localização</h1>

        <div class="localizacao-mapa">
            <a class="btn" href="" target="_blank">Como chegar</a>
        </div>
    </div>
</section>