<div class="modal-contato" data-modal-contato="email">
    <div class="modal-contato-scroll">
        <div class="container">
            
            <div class="infos">
                <img src="images/logo-onze.png" alt="<%= nome %>">

                <hr class="linha1">

                <h3 class="modal-contato-tit">
                    Envie um e-mail
                </h3>

                <hr class="linha2">
                <hr class="linha3">

                <span></span>
            </div>

            <%
            form_nome = 'formModalEmail';
            form_prefixo = 'FME';
            form_tipo = 'Email';
            form_canal = 'mensagem';
            form_btn = 'Enviar';
            %>

            <% include form %>

        </div>
    </div>

    <button class="btn-fechar js-close-modal"><i class="icon-close"></i></button>
</div>