<div class="modal-contato" data-modal-contato="email">
    <div class="modal-contato-scroll">
        <div class="container">

            <div class="modal-contato-content">

                <div class="modal-contato-infos">
    
                    <img src="images/logo-onze.png" alt="<%= nome %>">
    
                    <h3 class="tit">
                        Fale com a nossa equipe
                    </h3>
    
                    <div class="detalhe"></div>
                </div>
    
                <div class="form">
                    <%
                    form_nome = 'formModalEmail';
                    form_prefixo = 'FME';
                    form_tipo = 'Email';
                    form_canal = 'mensagem';
                    form_btn = 'Enviar';
                    %>
        
                    <% include form %>
                </div>
                
            </div>

        </div>
    </div>

    <button class="btn-fechar js-close-modal"><i class="icon-close"></i></button>
</div>