<div class="modal-contato" data-modal-contato="chat">
    <div class="modal-contato-scroll">
        <div class="container">

            <div class="modal-contato-content">
                
                <div class="modal-contato-infos">
                    
                    <img src="images/logo-onze.png" alt="<%= nome %>">
    
                    <h3 class="tit">
                        Fale com um corretor
                    </h3>
    
                    <div class="detalhe"></div>
                </div>
    
                <div class="form">
                    <%
                    form_nome = 'formModalchat';
                    form_prefixo = 'FMC';
                    form_tipo = 'Chat';
                    form_canal = 'chat';
                    form_btn = 'Iniciar atendimento';
                    %>
        
                    <% include form %>
                </div>

            </div>

        </div>
    </div>

    <button class="btn-fechar js-close-modal"><i class="icon-close"></i></button>
</div>