<div class="modal-contato" data-modal-contato="chat">
    <div class="modal-contato-scroll">
        <div class="container">
            
            <h3 class="modal-contato-tit">
                <img src="images/logo-onze.png" alt="<%= nome %>">
                Fale com um corretor
            </h3>

            <%
            form_nome = 'formModalchat';
            form_prefixo = 'FMC';
            form_tipo = 'Chat';
            form_canal = 'chat';
            form_btn = 'Iniciar atendimento';
            %>

            <% include form %>

        </div>
    </div>

    <button class="btn-fechar js-close-modal"><i class="icon-close"></i></button>
</div>