<section class="parceiros" id="parceiros">

    <div class="parceiros-info">
        <h1 class="intro-tit">Parceiros</h1>
        <h2>A NOMAH** cuida de tudo, para você não ter que se preocupar com nada.</h2>
        <p>Gestão inteligente de ativos imobiliários com rentabilidade acima da média e operação de ponta a ponta.</p>
    </div>

    <div class="nomah">
        <img src="images/logo-nomah.png" alt="logo-nomah">

        <div class="nomah-infos">
            <div class="numeros">
                <h1>+450M</h1>
                <p>em ativos sob gestão</p>
            </div>
            <div class="numeros">
                <h1>+ 140</h1>
                <p>colaboradores divididos em 10 departamentos</p>
            </div>
            <div class="numeros">
                <h1>+1.300</h1>
                <p>Apartamentos com contrato assinado</p>
            </div>
            <div class="numeros">
                <h1>+234 mil</h1>
                <p>Diárias vendidas</p>
            </div>
            <div class="numeros">
                <h1>+3 mil</h1>
                <p>Diárias vendidas semanalmente</p>
            </div>
            <div class="numeros">
                <h1>+82%</h1>
                <p>Taxa de ocupação média anual</p>
            </div>
        </div>
    </div>

    <div class="marco">
        <div class="marco-info">
            <h1>INTELIGÊNCA DE MERCADO</h1>
            <p>INTELIGÊNCIA DE MERCADO
                Estudos de mercado, análise de rentabilidade e pesquisa com nossos hóspedes e
                inquilinos. Somos guiados por dados para trazer
                as melhores informações para você.
            </p>
        </div>
        <div class="marco-info">
            <h1>SOLUÇÕES PARA REFORMA</h1>
            <p>Oferecemos soluções para a fase de projeto e reforma para o seu espaço ficar
                pronto para receber hóspedes em busca de uma experiência confortável e prática.
            </p>
        </div>
        <div class="marco-info">
            <h1>GESTÃO DE HÓSPEDES</h1>
            <p>Nossa estrutura de tecnologia, suporte, operações e arquitetura entrega com
                segurança todo o fluxo de entrada e saída 100% digital, atendimento 24/7 e
                serviço de limpeza em apartamentos totalmente equipados.
            </p>
        </div>
        <div class="marco-info">
            <h1>DISTRIBUIÇÃO E PRECIFICAÇÃO INTELIGENTE</h1>
            <p>Além de anunciar em nossa plataforma e investir em campanhas de performance,
                também colocamos as unidades nos principais canais de locação e OTAs.
                Acreditamos que testando os preços dinamicamente para rentabilizar ao máximo
                o seu imóvel.
            </p>
        </div>
        <div class="marco-info">
            <h1>MANUTENÇÃO</h1>
            <p>Para reduzir a depreciação dos bens e manter os apartamentos sempre prontos para
                locação, realizamos a gestão de todas as manutenções, das preventivas às
                emergenciais.
            </p>
        </div>
        <div class="marco-info">
            <h1>PAGADORIA DE CONTAS</h1>
            <p>A Nomah realiza o pagamento das contas de consumo do apartamento para os
                proprietários, como IPTU, condomínio, internet, energia, gás, seguro e etc.
            </p>
        </div>
        <div class="marco-info">
            <h1>SUPORTE AO PROPRIETÁRIO</h1>
            <p>Temos um time dedicado a atender, auxiliar e dar suporte aos proprietários dos
                apartamentos administrados pela Nomah, tirando as dúvidas, solucionando
                eventuais problemas e ouvindo sugestões.
            </p>
        </div>

        <p>** Serviço opcional que poderá ser contratado pelo adquirente.</p>
    </div>

</section>