<section class="parceiros" id="parceiros">

    <!-- VERIFIQUE AQUI -->
    <div class="linhas">
        <div class="container">

            <span class="linha"></span>
            <span class="linha2"></span>          

        </div>
    </div>

    <!-- <div class="container"> -->

    <div class="parceiros-info">
        <div class="container">
            <h1 class="tit">Parceiros</h1>
            <h2>A NOMAH** cuida de tudo, para você não ter que se preocupar com nada.</h2>
            <p>Gestão inteligente de ativos imobiliários com rentabilidade acima da média e operação de ponta a ponta.
            </p>
        </div>
    </div>

    <div class="nomah">
        <div class="splide">
            <div class="splide__track">
                <img src="images/logo-nomah.png" alt="logo-nomah">
                <div class="splide__list nomah-infos">
                    <!-- ITEM -->
                    <div class="splide__slide">
                        <div class="item">
                            <div class="numeros n1">
                                <h1>+450M</h1>
                                <p>em ativos sob gestão</p>
                            </div>

                            <div class="divisor">
                            </div>
                        </div>
                    </div>
                    <!-- ITEM -->
                    <div class="splide__slide">
                        <div class="item">
                            <div class="numeros n2">
                                <h1>+ 140</h1>
                                <p>Colaboradores divididos <br class="desk"> em 10 departamentos</p>
                            </div>

                            <div class="divisor">
                            </div>
                        </div>
                    </div>
                    <!-- ITEM -->
                    <div class="splide__slide">
                        <div class="item">
                            <div class="numeros n3">
                                <h1>+1.300</h1>
                                <p>Apartamentos com <br class="desk"> contrato assinado</p>
                            </div>

                            <div class="divisor">
                            </div>
                        </div>
                    </div>
                    <!-- ITEM -->
                    <div class="splide__slide">
                        <div class="item">
                            <div class="numeros n4">
                                <h1>+234 mil</h1>
                                <p>Diárias vendidas</p>
                            </div>

                            <div class="divisor">
                            </div>
                        </div>
                    </div>
                    <!-- ITEM -->
                    <div class="splide__slide">
                        <div class="item">
                            <div class="numeros n5">
                                <h1>+3 mil</h1>
                                <p>Diárias vendidas <br class="desk"> semanalmente</p>
                            </div>

                            <div class="divisor">
                            </div>
                        </div>
                    </div>
                    <!-- ITEM -->
                    <div class="splide__slide">
                        <div class="item">
                            <div class="numeros n6">
                                <h1>+82%</h1>
                                <p>Taxa de ocupação <br class="desk"> média anual</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="nomah">
            <img src="images/logo-nomah.png" alt="logo-nomah">

            <div class="nomah-infos">

            </div>
        </div> -->

        <!-- <div class="marco">
            <div class="marco-info">
                <h1>INTELIGÊNCA DE MERCADO</h1>
                <p>Estudos de mercado, análise de rentabilidade e pesquisa com nossos hóspedes e
                    inquilinos. Somos guiados por dados para trazer <br class="desk">
                    as melhores informações para você.
                </p>
            </div>
        </div> -->

    <div class="marco">
        <div class="splide">
            <div class="splide__track">
                <div class="splide__list">
                    <!-- ITEM -->
                    <div class="splide__slide">
                        <div class="item">
                            <div class="marco-info">
                                <h1>INTELIGÊNCA DE MERCADO</h1>
                                <p>Estudos de mercado, análise de rentabilidade e pesquisa com nossos hóspedes e
                                    inquilinos. Somos guiados por dados para trazer <br class="desk">
                                    as melhores informações para você.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- ITEM -->
                    <div class="splide__slide">
                        <div class="item">
                            <div class="marco-info">
                                <h1>SOLUÇÕES PARA REFORMA</h1>
                                <p>Oferecemos soluções para a fase de projeto e reforma para o seu espaço ficar
                                    pronto para receber hóspedes em busca de uma experiência confortável e prática.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- ITEM -->
                    <div class="splide__slide">
                        <div class="item">
                            <div class="marco-info">
                                <h1>GESTÃO DE HÓSPEDES</h1>
                                <p>Nossa estrutura de tecnologia, suporte, operações e arquitetura entrega com segurança todo o fluxo de
                                    entrada e saída 100% digital, atendimento 24/7 e serviço <br class="desk"> de limpeza em
                                    apartamentos totalmente equipados.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- ITEM -->
                    <div class="splide__slide">
                        <div class="item">
                            <div class="marco-info">
                                <h1>DISTRIBUIÇÃO E PRECIFICAÇÃO INTELIGENTE</h1>
                                <p>Além de anunciar em nossa plataforma e investir em campanhas de performance,
                                    também colocamos as unidades nos principais canais de locação e OTAs. <br class="desk">
                                    Acreditamos que testando os preços dinamicamente para rentabilizar ao máximo
                                    o seu imóvel.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- ITEM -->
                    <div class="splide__slide">
                        <div class="item">
                            <div class="marco-info">
                                <h1>MANUTENÇÃO</h1>
                                <p>Para reduzir a depreciação dos bens e manter os apartamentos sempre prontos para
                                    locação, realizamos a gestão de todas as manutenções, das preventivas às <br class="desk">
                                    emergenciais.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- ITEM -->
                    <div class="splide__slide">
                        <div class="item">
                            <div class="marco-info">
                                <h1>PAGADORIA DE CONTAS</h1>
                                <p>A Nomah realiza o pagamento das contas de consumo do apartamento para os
                                    proprietários, como IPTU, condomínio, internet, energia, gás, seguro e etc.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- ITEM -->
                    <div class="splide__slide">
                        <div class="item">
                            <div class="marco-info">
                                <h1>SUPORTE AO PROPRIETÁRIO</h1>
                                <p>Temos um time dedicado a atender, auxiliar e dar suporte aos proprietários dos
                                    apartamentos administrados pela Nomah, tirando as dúvidas, solucionando <br class="desk">
                                    eventuais problemas e ouvindo sugestões.
                                </p>
                            </div>
                        </div>
                    </div>
                    <p class="pe">** Serviço opcional que poderá ser contratado pelo adquirente.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- </div> -->


</section>