<section class="realizacao" id="realizacao">
    <div class="container">
        <div class="realizacao-info">
            <h1 class="tit">Realização</h1>
            <p>A credibilidade e solidez de quem é <br class="mob"> especialista em empreendimentos de padrão <br class="mob"> elevado, nos bairros mais valorizados de <br class="mob"> São Paulo.</p>
        </div>

    </div>
</section>