<section class="realizacao">
    <div class="container">
        <h1 class="tit">Realização</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, voluptate, odit ex quisquam expedita neque unde placeat ratione laborum possimus asperiores cumque assumenda minima eius consequatur voluptatum perspiciatis vel impedit.</p>

    </div>
</section>