<section class="sobre">
    
    <!-- <div class="container"> -->
        <div class="sobre-image">
            <img src="images/fachada.jpg" alt="">
        </div>
        <div class="sobre-infos">
            <h1>Sobre os Studios Onze Vila Clemetino</h1>
            <p>Projetado sobre medida para receber o seu investimento</p>
        </div>

        <div class="sobre-logos">
            <div class="design">
                <h1>Arquitetura</h1>
                <img src="images/logo-trie.png" alt="">
            </div>
            <div class="design">
                <h1>Decoração</h1>
                <img src="images/logo-mestisso.png" alt="">
            </div>
            <div class="design">
                <h1>Paisagismo</h1>
                <img src="images/logo-cardim.png" alt="">
            </div>
        </div>

    <!-- </div>    -->

</section>