<section class="sobre">
    
    <!-- <div class="container"> -->
        <div class="sobre-image">
            <figure>
                <img src="images/fachada.jpg" alt="">
                <figcaption>
                    <p>Concepção artística do acesso as unidades NR</p>
                </figcaption>
            </figure>
        </div>
        <div class="sobre-infos">
            <h1>Sobre os Studios Onze Vila Clemetino</h1>
            <p>Projetado sob medida para receber o seu investimento</p>
        </div>

        <div class="sobre-logos">
            <div class="design">
                <h1 class="trie">Arquitetura</h1>
                <img src="images/logo-trie.png" alt="">
            </div>
            <div class="design">
                <h1 class="mestisso">Decoração</h1>
                <img src="images/logo-mestisso.png" alt="">
            </div>
            <div class="design">
                <h1 class="cardim">Paisagismo</h1>
                <img src="images/logo-cardim.png" alt="">
            </div>
        </div>

    <!-- </div>    -->

</section>