header,
main,
footer {
    overflow: hidden;
}

section {
    padding: 30px 0;
}

button {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

figure {
    display: block;
    margin-bottom: 0;
}

.tit {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;

    @include media-breakpoint-up(lg) {
        font-size: 30px;
    }
}

ul {
    padding: 0;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: 50px;
    width: 270px;
    gap: 131px;
    font-size: 18px;
    background: #243441;
    color: #fff;
    transition: all .2s ease-in-out;

    &:hover {
        background: none;
        border: solid 1px #1B3241;
        color: #1B3241;
    }
}

.tab {

    &-buttons {
        display: flex;
        gap: 20px;

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    &-btn {
        width: 200px;
        height: 50px;
        background: #b4b4b4;
        color: #3d3d3d;
        transition: all .2s ease-in-out;

        @include media-breakpoint-down(lg) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            width: 100%;
        }

        @include media-breakpoint-up(lg) {
            @at-root .tab-content & {
                display: none;
            }
        }

        i {
            transition: all .2s ease-in-out;
        }

        &.active {
            background: $primary;
            color: #fff;

            i {
                transform: rotate(180deg);
            }
        }
    }

    &-content {
        @include media-breakpoint-up(lg) {
            height: 500px;
            position: relative;
        }
    }

    &-item {
        transition: all .2s ease-in-out;

        @include media-breakpoint-down(lg) {
            overflow: hidden;
            margin-bottom: 20px;
            max-height: 0;
        }

        @include media-breakpoint-up(lg) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
        }

        &.active {

            @include media-breakpoint-down(lg) {
                max-height: 600px;
            }

            @include media-breakpoint-up(lg) {
                opacity: 1;
                visibility: visible;
                z-index: 2;
            }
        }
    }
}

// Carrosel 
.splide {
    --nav-margin: 430px;
    --nav-bg: #fff;
    --nav-color: #{$primary};
    --pag-bg: #2f9581;

    visibility: visible;

    &__pagination {
        padding: 25px 0 0;

        &__page {
            width: 6px;
            height: 6px;
            opacity: 0.6;
            background-color: transparent;
            border: 1px solid var(--pag-bg);
            margin: 0 3px;
            padding: 0;
            transition: all .2s ease-in-out;

            &.is-active {
                opacity: 1;
                transform: scale(1.4);
                background-color: var(--pag-bg);
            }
        }
    }

    &__arrow {
        position: absolute;
        top: calc(50% - 40px);
        z-index: 2;
        width: 56px;
        height: 56px;
        background: none;
        font-size: 22px;
        color: var(--nav-color);

        &::before {
            z-index: 2;
            position: relative;
            transition: transform .2s ease-in-out;
            display: block;
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            background: var(--nav-bg);
            border-radius: 0;
            position: absolute;
            left: 0;
            top: 0;
            transition: transform .2s ease-in-out;
            border: 1px solid #fff;
        }

        &:disabled {
            opacity: 0;
        }

        svg {
            display: none;
        }

        &--prev {
            left: calc(50% - var(--nav-margin));

            &::before {
                transform: translateX(25px);
            }

            &:hover {
                &::before {
                    transform: translateX(-0);
                }
            }
        }

        &--next {
            right: calc(50% - var(--nav-margin));

            &::before {
                transform: translateX(-25px);
            }

            &:hover {
                &::before {
                    transform: translateX(0);

                }
            }
        }

        &:hover {
            &::before {
                color: #1B3241;
            }

            &::after {
                transform: scale(1.08);
                background: #fff;
            }
        }
    }
}

.splide-images {

    .splide__slide {
        figure {
            margin-bottom: 30px;
        }

        img {
            border-radius: 0;

            @include media-breakpoint-down(lg) {
                width: 100%;
            }
        }

        @include media-breakpoint-up(lg) {
            display: flex;
            align-items: center;
            justify-content: center;

            figure {
                transition: transform .2s ease-in-out;
                transform: scale(0.75);
            }

            &.is-active {
                z-index: 2;

                figure {
                    transform: scale(1);
                }
            }
        }

        figcaption {
            opacity: 0;
            transition: opacity .2s ease-in-out;
        }

        &.is-active {

            figcaption {
                opacity: 1;
                position: absolute;
                bottom: -44px;
                right: 0;
                color: #fff;
                font-size: 12px;
            }
        }

    }

    .splide__pagination {
        padding-top: 0;
    }

}


@keyframes rotateLoad {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

//Quebra de linha para Desktop e Mobile
br {
    &.desk {
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
        }
    }

    &.mob {
        @include media-breakpoint-up(lg) {
            display: none;
        }
    }
}

// EFEITO LUPA 
.img-magnifier-container {
    position: relative;
    .img-magnifier-glass {
        position: absolute;
        z-index: 3;
        border: 1px solid #243441;
        border-radius: 50%;
        cursor: none;      
        width: 250px;
        height: 250px;
        opacity:0;
        pointer-events:none;
        z-index: 1;
    }
    &:hover{
        .img-magnifier-glass{
            opacity:1;
            pointer-events:initial;

        }
    }
  }